* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background: #333;
    color: #fff;
}

header .title {
    flex-grow: 1;
    font-size: 20px;

    text-align: center;
}

header .left .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 6px 4px;
}

header .right .btn {
    display: inline-block;
    margin-left: 10px;
    padding: 6px 4px;
}

header .left {
    display: flex;
    width: 30%;
}

header .right {
    width: 30%;
    text-align: right;
}

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1498470186032'); /* IE9*/
    src: url('iconfont.eot?t=1498470186032#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff?t=1498470186032') format('woff'), /* chrome, firefox */ url('iconfont.ttf?t=1498470186032') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg?t=1498470186032#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
    content: "\e697";
}

.icon-category:before {
    content: "\e699";
}

.icon-close:before {
    content: "\e69a";
}